.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 200px;
}

.footer-logo-photo {
    width: 144px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p {
    color: #383838;
    font-weight: 700;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.footer-links li {
    cursor: pointer;
}

.footer-social-icon {
    display: flex;
    gap: 20px;
}

.footer-icons-container {
    padding: 10px;
    padding-bottom: 6px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
    text-align: center;
}

.footer-copyright hr {
    width: 40%;
    border: none;
    border-radius: 5px;
    height: 2px;
    background: #F0768B;
}

.footer-icon {
    width: 32px;
}

@media (max-width: 1280px) {
    .footer {
        gap: 40px;
    }

    .footer-links {
        gap: 40px;
    }
}

@media (max-width: 1024px) {
    .footer {
        margin-top: 150px;
        gap: 35px;
    }

    .footer-links {
        font-size: 18px;
        gap: 30px;
    }

    .footer-copyright {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .footer {
        margin-top: 120px;
        gap: 30px;
    }

    .footer-logo {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        font-size: 16px;
        gap: 20px;
    }

    .footer-social-icon {
        gap: 15px;
    }

    .footer-copyright {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .footer {
        margin-top: 100px;
        gap: 20px;
    }

    .footer-logo-photo {
        width: 100px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 14px;
        list-style-type: none;
        padding-left: 0;
    }

    .footer-social-icon {
        gap: 10px;
    }

    .footer-icon {
        width: 24px;
    }

    .footer-copyright {
        font-size: 14px;
    }

    .footer-copyright hr {
        width: 60%;
    }
}
